/* *{
    padding:0;
    margin:0;
    
} */
html{
    background-color:#453750;
    color:#fcfeff;
    font-family: 'Poppins', sans-serif;
    
}


#input{
   padding: 10px;
   border-radius: 5px;
   border: 1px solid #fcfeff;
background-color: #453750;
color: #fcfeff;
}

form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin:auto;


}
button{
    width:15%;
    height:30px;
text-align: center;
background-color: #9882AC;
border: 1px solid transparent;
color:#fcfeff;
border-radius: 5px;
margin-top: 20px;
font-size:20px;
}
.check{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    font-size: 20px; 
    text-align: right;
}

.all{
    background-color: #73648A;
    width:50%;
 
    

margin: 100px auto ;
padding:30px;
border-radius: 5px;
}



/*Media Queries*/
@media(max-width:1237px){
    button{
        width:20%;
    }
}
@media(max-width:922px){
    button{
        width:23%;
    }
}
@media(max-width:890px){
    button{
        width:30%;
    }
}

@media(max-width:653px){
    button{
        width:34%;
    }
}
@media(max-width:663px){
    h1{
        text-align: center;
    }
}

@media(max-width:582px){
    button{
        width:39%;
    }
}

@media(max-width:490px){
    button{
        width:50%;
    }
}
@media(max-width:454px){
    button{
        width:56%;
    }
}

@media(max-width:382px){
    button{
        width:70%;
    }
}